[submodule "wirm"]
	path = deps/wirm
	url = git@github.com:EwoutV/wirm.git
	branch = experiment/nebula
[submodule "splicer"]
	path = deps/splicer
	url = git@github.com:EwoutV/splicer.git
	branch = experiment/nebula
[submodule "cviz"]
	path = deps/cviz
	url = git@github.com:EwoutV/cviz.git
